@import "../../variables";

.cards {
  margin-top: 100px;
  @include flex(column, center, flex-start);
  gap: 40px;
  padding: 20px;

  &__title {
    @include font($font-fam, 25px, 400, white);
    letter-spacing: 3px;
    margin: auto;
  }

  .cards__container {
    margin-left: 55px;
    width: 92%;
    @include flex(row, center, center);
    gap: 40px;
  }
}
