@import "../../variables.scss";

.header__container {
  @include flex(column, center, center);
  margin: 80px 87px 0px 87px;
  margin-top: 80px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(67, 67, 67, 0.2));
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;

  &__element {
    width: 100%;

    &__title {
      @include font($font-fam, 50px, 600, white);
      letter-spacing: 3px;
      width: 777px;
      height: 194px;
      margin-top: 165px;
      margin-left: 79px;
    }

    &__sub-title {
      @include font($font-fam, 25px, 300, white);
      letter-spacing: 1.48px;
      text-align: center;
      margin-top: 163px;
    }
  }
}
